<div
    [attr.data-bootstrap-grid]="row.grid"
    [dragula]="'columns'"
	[(dragulaModel)]="row.columns"
	class="row page-{{ pageIndex }}_row-{{ rowIndex }}"
>
	<div *ngFor="let column of row.columns; let columnIndex = index"
		class="col-md-{{ colNumber(columnIndex) }}"
		[attr.data-current-page-index]="pageIndex"
		[attr.data-current-row-index]="rowIndex"
		[attr.data-current-column-index]="columnIndex"
	>
		<!--b>[{{ pageIndex }}][{{ rowIndex }}][{{ columnIndex }}]</b-->
		<div class="option-column">
			<div [hidden]="config?.previewMode">
				<small class="column-handle" [ngStyle]="{ 'cursor': 'move' }">
					<i class="fa fa-arrows-alt"></i> col-md-{{ colNumber(columnIndex) }}
				</small>
				<div class="border-bottom border-danger"></div>
			</div>	
			<app-form-contents [column]="column"></app-form-contents>
		</div>
	</div>
</div>
