
<form class="card" #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="dropdown">
                    <h6 class="text-center text-bold">Select a Database Engine</h6>
                    <a href="javascript:void(0)" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img [src]="options.database.logo" class="img-fluid mx-auto d-block">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li *ngFor="let s of sql" (click)="setDDL(s.database)" class="dropdown-item p-3" [ngStyle]="{'cursor': 'pointer'}">
                            <img [src]="s.database.logo" alt="{{ s.database.engine }}" class="img-fluid"> 
                        </li>
                    </ul>    
                </div>
                <textarea [(ngModel)]="options.ddl"
                    name="string"
                    [ngClass]="{ 'is-invalid' : objectLength() > 0 }"
                    class="form-control form-control-sm h-20 mt-4"
                    rows="10"
                ></textarea>                
            </div>
        </div>

        <div *ngIf="errors && objectLength() > 0">
            <div class="card card-body border-danger p-3 mt-2">
                <small class="error">
                    {{ errors.msg.strBegin }}
                    <span [ngbPopover]="errors.title" triggers="mouseenter:mouseleave">
                        <i class="fas fa-exclamation-triangle text-danger"></i>{{ errors.msg.char }}
                    </span>
                    {{ errors.msg.strEnd }}
                </small>
            </div>
        </div>
        <div class="form-group">
            <label for="form_ct_grid">Bootstrap Grid</label>
            <input type="text"
                id="form_ct_grid"
                [(ngModel)]="gridModel"
                name="grid"
                [ngClass]="{ 'is-invalid': f.controls.grid?.invalid }"
                class="form-control form-control-sm"
                [ngStyle]="{ cursor: 'pointer' }"
                sumBeEqualsTo="12"
                minlength="2"
                pattern="[0-9 \n\t]+"
                required>
            <div *ngIf="f.controls.grid?.invalid || f.controls.grid?.touched" class="invalid-feedback">
                <div *ngIf="f.controls.grid?.errors?.required ">* Enter with your grid.</div>
                <div *ngIf="f.controls.grid?.errors?.pattern">* Allows only numbers and space.</div>
                <div *ngIf="f.controls.grid?.errors?.minlength">* Min. Length is {{ f.controls.grid?.errors.minlength.requiredLength }}.</div>
                <div *ngIf="f.controls.grid?.errors?.isSumInvalid">* The sum must be equals to {{ f.controls.grid.errors?.sumBeEqualsTo }}.</div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-dark btn-block btn-sm" 
        (click)="createTable()" 
        [disabled]="f.controls.grid?.invalid">Generate</button>
    </div>
</form>
