<div>
	<div class="border-bottom border-dark p-1 text-uppercase" 
	[ngStyle]="{ cursor: 'pointer' }">
		<span class="text-right">
			Option Group
			<!--a 
				[routerLink]="['/config-choices', 'create']"
			
				<small><i class="far fa-plus-square"></i> create</small>
			</a-->
			<button 
			(click)="edit()"
			class="btn btn-link"
			>
				<small><i class="fas fa-plus-square"></i> create </small>
			</button>
		</span>
	</div>

	<div 
		*ngIf="(choices$ | async) as choices"
		dragula="contents"
		[(dragulaModel)]="choices.data"
		class="menu-content-sortable no-gutters collapse m-1 show"
		aria-expanded="true"
	>
		<div *ngFor="let content of choices.data | paginate: { itemsPerPage: choices.per_page , currentPage: choices.current_page, totalItems: choices.total }; let contentIndex = index;"
			class="content-handle menu-content-sortable option-type-sortable"
			[attr.data-content]="content | json"
		>
			<!--a [routerLink]="['/config-choices', content.html.content_choice_id ,'edit']"-->
			<section class="border border-dark p-1 mb-1">
				<div class="row">
					<div class="col-md-4">
						<button 
						class="btn btn-sm btn-block btn-link"
						(click)="edit(contentIndex)">
							<small><i class="fas fa-pen-square"></i> edit </small>
						</button>
					</div>
					<div class="col-md-8">
						<div class="dropdown">
							<a href="javascript:void(0)" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-sm btn-block dropdown-toggle">
								<span class="text-uppercase">
									<i class="{{ getChoiceType(content.html.tag).icon }}"></i> {{ getChoiceType(content.html.tag).type }}
								</span>
							</a>
							<ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
								<li *ngFor="let c of choiceTypes | keyvalue"
									(click)="setchoiceType(content, c.value)"
									[ngStyle]="{'cursor': 'pointer'}"
									class="dropdown-item"
								>
									<h6 class="text-uppercase"><i class="{{ c.value.icon }}"></i> {{ c.value.type }}</h6>
								</li>
							</ul>    
						</div>
					</div>
				</div>
				<div class="border border-bottom"></div>
				<div class="content-handle">
					<h6 class="content-handle text-uppercase text-center"><strong>{{ content.description }}</strong></h6>
					<ul class="text-dark text-capitalize content-handle" [ngStyle]="{ 'cursor': 'move' }">
						<li *ngFor="let choice of content.html.choices" class="content-handle">
							<small class="content-handle">{{ choice.text }}</small>
						</li>
					</ul>
				</div>
			</section>
		</div>
		<pagination-controls (pageChange)="pageChange($event)" class="mt-1"></pagination-controls>
	</div>
</div>