<app-header-bar></app-header-bar>
<ngx-ui-loader></ngx-ui-loader>
<div class="splash">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<img src="https://i.imgur.com/WlEBazl.png" class="img-fluid" alt="">				
				<div id="social">
					<span class="center-block text-center">
						<iframe id="gh-star" src="https://ghbtns.com/github-btn.html?user=mashimot&repo=saltiest&type=watch&count=true" width="110" height="20" style="border: none;"></iframe>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid mt-3">		
	<router-outlet></router-outlet>
</div>
