<app-header-bar></app-header-bar>
<!--
<ngx-ui-loader></ngx-ui-loader>
<div class="splash pt-2 pb-2">
	<img src="https://i.imgur.com/WlEBazl.png" class="img-fluid" style="max-width:25%;" >				
	<div id="social" class="pt-3">
		<span class="center-block text-center">
			<iframe id="gh-star" src="https://ghbtns.com/github-btn.html?user=mashimot&repo=saltiest&type=watch&count=true" width="110" height="20" style="border: none;"></iframe>
		</span>
	</div>
</div>
-->
<div class="container-fluid mt-3">
  <router-outlet></router-outlet>
</div>
