<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-md-5">
			<button class="btn btn-secondary btn-sm btn-block" type="button" (click)="orderBy('text')">
				Order by Text
				<span ng-show="sortType == 'text' && !sortReverse" class="fa fa-caret-down"></span>
				<span ng-show="sortType == 'text' && sortReverse" class="fa fa-caret-up"></span>
			</button>
			</div>
			<div class="col-md-5">
			<button class="btn btn-secondary btn-sm btn-block" type="button" (click)="orderBy('value')">
				Order by Value
				<span ng-show="sortType == 'value' && !sortReverse" class="fa fa-caret-down"></span>
				<span ng-show="sortType == 'value' && sortReverse" class="fa fa-caret-up"></span>
			</button>
			</div>
			<div class="col-md-2">
			<button class="btn btn-secondary btn-sm btn-block" type="button" (click)="addElement()">
				<i class="fa fa-plus" aria-hidden="true"></i>
			</button>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div [formGroup]="choiceForm"
		[ngClass]="{ 'is-invalid': choiceForm.invalid }">
			<div dragula="sortableChoices"
				[(dragulaModel)]="choiceForm.get('choices').controls"
				formArrayName="choices">
				<div *ngFor="let choice of choiceForm.get('choices').controls; let i = index" 
					[formGroupName]="i" 
					class="sortable-item-contents">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<input type="text"
									formControlName="text"
									class="form-control form-control-sm"
									[ngClass]="{ 'is-invalid': choice.get('text').invalid }" />
								<div *ngIf="choice.get('text').invalid || choice.get('text').touched" class="invalid-feedback">
									<div *ngIf="choice.get('text').errors?.required">You did not enter a field</div>
									<div *ngIf="choice.get('text').errors?.minlength">Your field is too short</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text"
									formControlName="value"
									class="form-control form-control-sm"								
									[ngClass]="{ 'is-invalid': choice.get('value').invalid }" />
									<div *ngIf="choice.get('value').invalid || choice.get('value').touched" class="invalid-feedback">
										<div *ngIf="choice.get('value').errors?.required">You did not enter a field</div>
										<div *ngIf="choice.get('value').errors?.minlength">Your field is too short</div>
									</div>
							</div>
						</div>
						<div class="col-md-2">
							<button type="button" class="btn btn-outline-danger btn-sm btn-block" (click)="removeContent(i)">
								<i class="far fa-trash-alt"></i>
							</button>
						</div>
						<div class="col-md-2">
							<span class="element-handle">
								move
							</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<button type="button" (click)="cloneThis('value')" class="btn btn-secondary btn-sm btn-block">
						Clone Text to Values
						</button>
					</div>
					<div class="col-md-5">
						<button type="button" (click)="cloneThis('text')" class="btn btn-secondary btn-sm btn-block">
						Clone Values To Text
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="fast-entry">Fast Entry</label>
			<textarea id="fast-entry"
				[(ngModel)]="text"
				(ngModelChange)="stringToElement()"
				class="form-control"
				style="resize: none; height: 210px;"></textarea>
		</div>
		<div class="mt-2" *ngIf="!parentFormGroup">
			<div class="btn-group float-right">
				<button class="btn btn-outline-primary" (click)="back()">Save</button>
			</div>
		</div>			
	</div>
</div>
