	<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-md-6">

			</div>
		</div>
	</div>
	<div class="card-body">
		<pre>{{ fields.value | json }}</pre>

		<div *ngIf="fields.value.length > 0">
			<div ng-show="hasDuplicateName" class="alert alert-danger">
				<strong ng-bind="duplicatedName" class="text-dark"></strong> already exists! The name must be unique.
			</div>
			<table class="table table-condensed table-bordered" *ngIf="fields.value.length > 0">
				<thead class="thead-light" ui-sortable>
				<tr>
					<th *ngFor="let f of keyFields; let fieldIndex = index;">
						<div class="input-group input-group-sm">
							<input type="text"
								(focusin)="onFocusIn(keyFields[fieldIndex].text)"
								(focusout)="onFocusOut()"
								(input)="whileTyping($event)"
								[value]="keyFields[fieldIndex].text"
								class="form-control form-control-sm" />
							<div class="input-group-prepend input-group-sm">
								<button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="javascript:void(0)" (click)="newColumn(fieldIndex)">
										<i class="fa fa-columns" aria-hidden="true"></i> New Column
									</a>
									<a class="dropdown-item" href="javascript:void(0)" (click)="deleteColumn(keyFields[fieldIndex].text)">
										<i class="fa fa-trash text-delete" aria-hidden="true"></i> Delete Column
									</a> 
								</div>
							</div>							
						</div>
					</th>
				</tr>
				</thead>
				<tbody>
					<tr *ngFor="let field of fields.value; let fieldIndex = index;">
						<td *ngFor="let f of keyFields">
							<input type="text" class="form-control" [(ngModel)]="field[f.text] ">
						</td>
						<td>
							<div class="input-group-prepend input-group-sm">
								<button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="javascript:void(0)" (click)="newLine(fieldIndex)">
										<i class="fa fa-bars"></i> New Row
									</a>
									<a class="dropdown-item" href="javascript:void(0)" (click)="deleteLine(fieldIndex)">
										<i class="fa fa-trash" aria-hidden="true"></i> Delete Row
									</a> 
								</div>
							</div>	
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<h6 class="alert alert-danger" *ngIf="fields.value.length <= 0">
		<i class="fa fa-exclamation-triangle"></i> Empty Table
		</h6>
	</div>
	</div>
