<div class="row">
    <div class="col-md-8 offset-md-2">
        <app-create-table-to-json (schemasChange)="getSchemas($event)"></app-create-table-to-json>
        <div class=" border mt-2" *ngFor="let migration of migrations;">
            <div class="card">
                <div class="card-header">
                    <h1>{{ migration.tableName }}</h1>
                </div>
                <div class="card-body">
                    <textarea class="form-control" cols="30" rows="10">{{ migration.laravel }}</textarea>
                </div>
            </div>
        </div>  
    </div>
</div>
