
<div class="tab-content">
    <div class="row no-gutters">
        <ng-container *ngIf="tabNumber == 1">
            <div class="col-md-3" [hidden]="config?.previewMode">            
                <div class="sticky-top scrollbar-near-moon thin square">                     
                    <app-create-table-to-json 
                        (schemasChange)="getSchemas($event)" 
                    ></app-create-table-to-json>
                    <app-form-menu></app-form-menu>
                </div>
            </div>
        </ng-container>
        <div [ngClass]="{ 'col-md-12': config?.previewMode || tabNumber == 2, 'col-md-9': !config?.previewMode }">
            <div class="sticky-top">
                <div class="btn-group d-flex bg-white" role="group">
                    <button
                        (click)="tabNumber = 1; previewMode = false; preview();"
                        class="btn border-dark btn-md" 
                        [ngClass]="{ 
                            'btn-primary': tabNumber == 1 && !previewMode
                        }"
                    >
                        <i class="fas fa-edit fa-1x" [ngClass]="{
                            'fa-beat fa-2x': tabNumber == 1 && !previewMode
                        }"></i> Editor
                    </button>
                    <button
                        (click)="this.previewMode = !this.previewMode; preview(); tabNumber = 1;" 
                        class="btn border-dark btn-md" 
                        [ngClass]="{ 
                            'btn-primary': previewMode
                        }"
                    >
                        <i
                            class="fa fa-eye fa-1x"
                            [ngClass]="{ 
                                'fa-2x fa-beat': previewMode
                            }"
                        ></i> Preview
                    </button>
                    <button
                        (click)="tabNumber = 2; previewMode = false; preview();" 
                        class="btn border-dark btn-md" 
                        [ngClass]="{ 
                            'btn-primary': tabNumber == 2
                        }"
                    >
                        <i
                            class="fas fa-edit fa-1x"
                            [ngClass]="{
                                'fa-beat fa-2x': tabNumber == 2
                            }"
                        ></i> Faster entry
                    </button>
                </div>
                <ng-container *ngIf="!previewMode && tabNumber != 2">
                    <div class="btn-group d-flex bg-white" role="group">
                        <button
                            (click)="newPage()"
                            class="btn btn-md btn-outline-dark" 
                        >
                            <i class="fa fa-file"></i> New Page
                        </button>
                    </div>
                </ng-container>
            </div>
            <ng-container *ngIf="tabNumber == 1">
                <app-form-pages
                    [pages]="pages"
                    (pagesChange)="getPages($event)"
                ></app-form-pages>
            </ng-container>
            <ng-container *ngIf="tabNumber == 2">
                <app-form-info
                    [(pages)]="pages"
                ></app-form-info>
            </ng-container>
            <div class="mt-3">
                <div class="card">
                    <div class="card-body">
                        <h1>VIEW</h1>
                        <textarea class="form-control" rows="40">
                            {{ getTemplate() }}
                        </textarea>
                    </div>
                </div>
            </div>
        </div>            
    </div>
</div>