<div class="row" [formGroup]="parentFormGroup.get('html')">
	<div class="col-md-4">
		<div class="form-group">
			<label for="title-heading-type">Heading Type</label>
			<select id="title-heading-type" formControlName="tag" class="form-control form-control-sm">
				<option *ngFor="let heading of headingTypes" [value]="heading">{{ heading }}</option>
			</select>
		</div>
	</div>
	<div class="col-md-8">
		<div class="form-group">
		<label for="title-text">Title</label>
			<input
				type="text"
				id="title-text"
				formControlName="text"
				class="form-control form-control-sm"
				[ngClass]="{ 'is-invalid': text.invalid }"
			/>
			<div *ngIf="text.invalid || text.touched" class="invalid-feedback">
				<div *ngIf="text.errors?.required">You did not enter a field</div>
				<div *ngIf="text.errors?.minlength">Your field is too short</div>
			</div>
		</div>
	</div>
</div>

